/*glyphicons mapping to fontawesome 5*/

.glyphicon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.1rem;
}

.glyphicon-refresh:before {
    content: "\f0e2";
}

.glyphicon-eye-open:before {
    content: "\f06e";
}

.glyphicon-pencil:before {
    content: "\f304";
}

.glyphicon-trash:before {
    content: "\f2ed";
}

/*fix for ascending or descending sorting*/
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    padding-left: 5px;
}

a.desc:after {
    content: "\f15e";
}

a.asc:after {
    content: "\f15d";
}